@import url('https://fonts.googleapis.com/css2?family=Gorditas:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.text-center{
    font-family:"Courier Prime";
    font-weight: 700;
    margin:20px;
}

.container>p{
    font-size:20px;
}

.title {
    justify-items: center; /* Center items horizontally */
}