
.row{
  display:flex !important;
  width:98vw !important;
  margin:auto !important;
  justify-content: center !important;
}
.q-box{
  width:60vw;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  margin:auto;
  position:relative;
  padding-inline:5vw;
}
#score-box{
  position:absolute;
  top:0;
  right:0;
}
.a-box{
  margin-inline:50px;  
  width:30vw;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}