.row{
  display:flex;
  width:98vw;
  margin:auto;
  justify-content: center;
}
.q-box{
  width:60vw;
  text-align: center;
  display:flex;
  justify-content: center;
  margin:auto;
  position:relative;
  padding-inline:5vw;
}
#score-box{
  position:absolute;
  top:0;
  right:0;
}
.a-box{
  margin-inline:50px;  
}