<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Some Name</title>
    <link rel="stylesheet" href="/static/css/baseCss.css">
    {% block css %}{% endblock %}
    <script src='/static/js/baseJs.js' defer></script>
    {% block js %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="{{ url_for('routeManager.login') }}">Login</a>
            <a href="{{ url_for('routeManager.register') }}">Register</a>      
        </nav>
    </header>

    <main>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer>
        <p>&copy; 2024</p>
    </footer>
</body>
</html>