{% extends 'baseHtml.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% block css %}
    <link rel="stylesheet" href="/static/css/index.css">
    {% endblock %}
</head>
{% block content %}
<body>
        <section class="jumbotron text-left">
            <div class="vstack">
                <div class="container">
                    <div class="row">
                    <div class="col col-lg-10">
                        <h1 class="text-center" style="font-size:70px"> What is QuizzyGoose? </h1>
                    </div>
                    <div class="col col-lg-2">
                        <canvas id="myCanvasA" width="100" height="100" style="padding-bottom: 10px;"></canvas>
                        <script src="/static/js/ducky.js"></script>
                        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
                    </div>
                    </div>
                    <p class="text-center" style="font-size:25px">Welcome to our educational platform designed to make studying fun and interactive!</p>
                    <div class="row">
            
                        <div class="col">
                            <div class="card-group">
                                <div class="card" > 
                                    <h2 class="card-header text-center">AI Generated Material</h2>
                                    <div class="card-body">
                                        <div class="card-text text-center">
                                            You can easily upload your study materials and kickstart your learning journey!
                                            <br></br>
                                            Once you've uploaded your file, a timer starts to keep you focused and on track. When the timer ends, get ready to play our exciting Goose Game!
                                            <br></br>
                                            We've partnered with OpenAI to bring you a unique experience where you'll answer questions provided by their API.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                        <div class="col">
                            <div class="card-group">
                                <div class="card">
                                    <h2 class="card-header text-center">Active Recall Geese Game</h2>
                                    <div class="card-body">
                                        <div class="card-text text-center">
                                            Each question comes with four options, and when you choose the correct answer, your goose moves one step closer to the victory!
                                            <br></br>
                                            It's a race against time and your own knowledge, making learning a thrilling competition. 
                                            <br></br>
                                            Join us and turn your study sessions into exciting adventures!
                                            <br></br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
   <!-- </div>  -->
</body>
{% endblock %}
</html>