{% extends 'baseHtml.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Name: Room: </title>
    {% block css %} 
    <link rel="stylesheet" href="/static/css/studyRoom.css">
    {% endblock %}
</head>
{% block content %}
<body>
    <header>
        <h1>
            Room Name:{{roomName}} Room Code:{{roomCode}}
        </h1>
        <h1 id="clock">00:00:00</h1>
    </header>
    <label for="durationInput">Set Duration (hh:mm:ss):</label>
    <input type="time" id="durationInput" step="1" value="00:10">
    <button id="play-pause">Play/Pause</button>
    <div id="timer"></div>
    <div class="upload-container">
        
        <form action="" method="post" id="notes-form">
          <label for="notes">Copy and Paste notes here</label>
          <textarea title="notes" id="" cols="30" rows="10"></textarea>
          <input type="submit" value="Upload">
        </form>
        
   </div>
   <canvas id="myCanvas" width="400" height="200"></canvas>
   <script src="/static/js/studyRoom.js"></script>
   
      
</body>
{% endblock %}
</html>
