{% extends 'baseHtml.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room</title>
    {% block css %} 
    <link rel="stylesheet" href="/static/css/studyRoom.css">
    {% endblock %}
</head>
{% block content %}
<body>
    <header>
        <h1>
            Room XXXX
        </h1>
    </header>
    <div class="timer-container">
        <h1 id="timer-text">
            <span id="hours">--</span>:
            <span id="mins">--</span>:
            <span id="secs">--</span>
        </h1>
    </div>
    <div class="upload-container">
        <label for="upload">Upload a .pdf or .docx file</label>
        <input title="upload"type="file" id="image" name="upload"accept=".pdf .docx">
        <label for="upload">Copy and paste notes here</label>
        <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
</body>
{% endblock %}
</html>
